<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <form action="/member/new/auth" method="post" th:object="${dto}">
        <h2>
            인증번호 입력
        </h2>
        <div class="form-group">
            <input type="text" th:field="*{authKey}" class="form-control" placeholder="인증번호를 입력해주세요.">
        </div>
        <p th:if="${errorMessage}" class="error" th:text="${errorMessage}"></p>
        <input type="submit" class="btn btn-primary" value="입력">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

</div>

</html>