<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchConfirm = $("#searchConfirm").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/message/list/" + page + "?searchDateType=" + searchDateType
            + "&searchConfirm=" + searchConfirm
            + "&searchQuery=" + searchQuery;
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <h2 class="mb-4">
        받은 쪽지함
    </h2>

    <form th:action="@{'/message/list/' + ${message.number}}" role="form" method="get" th:object="${message}">
        <table class="table">
            <thead>
            <tr>
            <tr>
                <td>메시지 번호</td>
                <td>제목</td>
                <td>상태</td>
                <td>받은 시간</td>
            </tr>
            </tr>
            </thead>
            <tbody>
            <tr th:each="msg, status: ${message.getContent()}">
                <td th:text="${status.count}"></td>
                <td>
                    <a th:href="'/message/' + ${msg.id}" th:text="${msg.title}"></a>
                </td>
                <td th:text="${msg.confirm == T(make.web.message.MessageStatus).READ} ? '읽음' : '읽지않음'"></td>
                <td th:text="${#temporals.format(msg.sendTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

        <div th:with="start=${(message.number/maxPage)*maxPage + 1}, end=(${(message.totalPages == 0) ? 1 : (start + (maxPage - 1) < message.totalPages ? start + (maxPage - 1) : message.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${message.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${message.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${message.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${message.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${message.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${dto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주일</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchConfirm}" class="form-control" style="width:auto;">
                <option value="">전체</option>
                <option value="READ">읽음</option>
                <option value="NOT_READ">읽지않음</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>
</html>